<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:replace="layout/Base::layout(
    	~{::head/content()},
    	~{::#pageName/content()}, 
    	~{::#center/content()}, 
    )">
<head>
<title>Thay đổi hộ khẩu</title>
<script th:src="@{/js/persons/person-add.js}"></script>
</head>
<body>
	<span id="pageName">Thay đổi hộ khẩu</span>
	<div id="center">
	<div style="margin-left:5px;margin-right:5px;">
		<!-- center layout-->
		<form th:action="${CONVERT.url('Families#edit', form.id)}" method="post" >
			<th:block th:insert="layout/FamilyForm::form(${form},false)"></th:block>
			<button type="submit" class="btn btn-primary" name="search">Thêm</button>
		</form>
	</div>
	</div>
</body>
</html>