<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:replace="layout/Base::layout(
    	~{::head/content()},
    	~{::#header/content()}, 
    	~{::#center/content()}, 
    )">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
</head>
<body>
	<span id="header">Trang chủ</span>
	<div id="left">
		<!-- left layout -->

	</div>
	<div id="right">
		<!-- right layout -->
	</div>
	<div id="center" class="container">
		<!-- center layout-->
		ssss
	</div>
</body>
</html>