<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(head, content)" th:with="CONVERT=${T( com.manager.common.utils.Convert)}">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
	type="text/javascript"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
	type="text/javascript"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	type="text/javascript"></script>
	<th:block th:insert="${head}">
		<title>Home</title>
		
	</th:block>
</head>
<body style="min-width: 300px;">
	<!-- MENU -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="#">HOME</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="#">Link</a></li>

		</ul>
		<form class="form-inline mx-auto" action="/action_page.php"
			style="width: calc(100% - 300px);">
			<input class="form-control mr-sm-2" type="text" placeholder="Search"
				style="width: calc(100% - 100px);">
			<button class="btn btn-success" type="submit">Search</button>
		</form>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="#">Account</a></li>
			<li class="nav-item"><a class="nav-link" href="#">History</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Cart</a></li>
		</ul>
	</nav>
	<!-- END MENU -->
	<!-- CONTENT -->
	<div id="content" class="container" th:insert="${content}">
	</div>
	<!-- END CONTENT -->
</body>
</html>